{% extends 'app_general/base.html' %}

{% load static %}

{% block title %}
<title>Product | {{thisProduct.title}}</title>
{% endblock %}

{% block content %}
{% if thisProduct is not None %}

<!-- back button -->
<div class="row bg-black" align="center">
    <div class="col-2">
        <a class="btn btn-black" href="{% url 'app_product:products-page' %}">
            <svg style="color:rgb(130, 130, 130)" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>
    </div>
</div>

<div class="container text-white">
    <br>
    <p>
        {% if thisProduct.photo %}
        <img class="card-img-top" src="{{ thisProduct.photo.url }}" alt="Card image" style="width:50%">
        {% endif %}
    <div>
        <!-- Check premium of product -->
        <a class="card-title fw-bolder text-white btn btn-success position-relative">{{ thisProduct.title | upper}}
            {% if thisProduct.is_premium %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-black">
                Premium!
            </span>
            {% endif %}
        </a>

        <!-- Check type of product -->
        <div class="text-muted">
            <h6>:: {{ thisProduct.type | upper}} ::</h6>
        </div>
    </div>
    </p>

    <!-- Check quantity of product -->
    <p>
        {% if thisProduct.quantity is not None %}
        <b>Quantity : </b>{{ thisProduct.quantity }}
        {% else %}
    <h6 class="text-danger">There are no order yet!</h6>
    {% endif %}
    </p>

    <!-- Update price of product -->
    <p>
        {% if thisProduct.price is not None %}
        {% if thisProduct.special_price is not None %}
        <b>Price : </b><del style="color:rgb(255, 90, 90)">{{ thisProduct.price | floatformat:'g' }} Bath</del>&nbsp{{thisProduct.special_price | floatformat:'g' }} Bath
        {% else %}
        <b>Price : </b>{{ thisProduct.price | floatformat:'g' }} Bath
        {% endif %}
        <br>
        {% endif %}
    </p>

    <!-- Check promotion of product -->
    <p>
        {% if thisProduct.promotion_end is not None %}
        <b>Promotion End : </b>{{ thisProduct.promotion_end | date:'j N Y' }}
        {% endif %}
    </p>

    <!-- Show description -->
    <p>
        <b>Description : </b><br>
        &nbsp;&nbsp;&nbsp;&nbsp; {{ thisProduct.description }}
    </p>

    <!-- Update status of product -->
    <p>
        {% if thisProduct.quantity is not None %}
        {% if thisProduct.quantity == 0 %}
        <button type="button" class="card-title fw-bolder text-white btn btn-danger position-relative">Out of
            stock</button>
        {% else %}
        <a type="button" class="card-title fw-bolder text-white btn btn-primary position-relative"
            href="{% url 'app_general:add_to_cart-page' slug=thisProduct.slug %}">Add to Cart</a>
        {% endif %}
        {% else %}
        <button type="button" class="btn btn-danger fw-bold">Empty</button>
        {% endif %}
    </p>
</div>
{% else %}

<div class="row bg-black p-5" align="center" , style="color:#039db5">
    <h2>Sorry we don't have product</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-emoji-frown-fill"
        viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" />
    </svg>
</div>
{% endif %}
{% endblock %}