{% extends 'app_general/base.html' %}

{% block title %}
<title>Order History | Your Name Café</title>
{% endblock %}

{% block content %}
<div class="text-white" align="center">
    <h1 style="color:#d6ce93">Order History</h1>
</div>

<form action="{% url 'app_general:history_shop-page' %}" method="POST">
    {% csrf_token %}
    <div class="container mt-3">
        {% if count_customer == 0 %}
        <div class="text-center text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cart-x-fill" viewBox="0 0 16 16">
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z"/>
            </svg>
            <h3>
                No Purchase History
            </h3>
            <h5>
                Check back after your next shopping trip!
            </h5>
        </div>
        {% else %}
        <div class="card">
            <div class="card-header text-center">
                {% for customer in all_customer %}
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <a class="btn btn-dark" href="{% url 'app_general:select_history-page' customer_id=customer.id %}">
                        {{ customer.first_name }} | {{ customer.city }}
                    </a>
                </div>
                {% endfor %}
            </div>
            {% if not status %}
            <div class="text-center text-muted m-3">
                <h3>
                    Select your address!
                </h3>
            </div>
            {% else %}
                {% if order_qty == 0 %}
                <div class="card-body">
                    <div class="text-center text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-cart-x-fill" viewBox="0 0 16 16">
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                        <h3>
                            No Purchase History
                        </h3>
                        <h5>
                            Check back after your next shopping trip!
                        </h5>
                    </div>
                </div>
                {% else %}
                <div class="card-body">
                    <div class="container text">
                        {% for info in customer %}
                        {{ info.first_name }} {{ info.last_name }} | {{ info.phone }}<br>
                        <div class="text-muted">
                            {{ info.address }}<br>
                            {{ info.country }}, {{ info.city }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col">ID</th>
                                    <th class="text-left" scope="col">Order Date</th>
                                    <th class="text-left" scope="col">Product</th>
                                    <th class="text-center" scope="col">Quantities</th>
                                    <th class="text-center" scope="col">Total Price</th>
                                </tr>
                            </thead>
                            {% for order in order_list %}
                            <tbody>
                                <tr>
                                    <th class="text-center" scope="row">{{ order.0 }}</th>
                                    <td class="text-left">{{ order.1 }}</td>
                                    <td class="text-left">{{ order.2 }}</td>
                                    <td class="text-center">{{ order.3 }}</td>
                                    <td class="text-center">{{ order.4 }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            </div>
        {% endif %}
    </div>
</form>
{% endblock %}