{% extends 'app_general/base.html' %}
{% load static %}

{% block title %}
<title>Order | Your Name Café</title>
{% endblock %}

{% block content %}

<!-- back button -->
<div class="row bg-black" align="center">
    <div class="col-2">
        <a class="btn btn-black" href="{% url 'app_general:show_item_in_cart-page' %}">
            <svg style="color:rgb(130, 130, 130)" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>
    </div>
    <div class="col-8 text-white">
        <h1>Order List</h1>
    </div>
</div>

<form class="text-white container mt-3" action="{% url 'app_general:order-page' %}" method="POST">
    {% csrf_token %}
    <div class="text-muted">
        {% if count_item == 0 %}
        <h3 class="text-center">Your haven't placed any order yet.</h3>
        {% else %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger text-center" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <!-- Customer Address -->
        <div class="text-white" align="left">
            <h3 class="text-muted">Delivery Address</h3>

            <!-- Add Customer Function -->
            <a class="btn btn-secondary text-black fw-bold rounded-pill"
                href="{% url 'app_general:add_customer-page' %}">+ Add Address</a> &nbsp;

            <!-- Select Customer Function-->
            <button class="btn btn-secondary text-black fw-bold rounded-pill" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Select Your
                Address</button>

            <!-- Show all customer address -->
            <p>
            <div class="collapse" id="collapseExample">
                <div class="card-secondry card-body">
                    {% for customer in all_customer %}
                    <div class="card">
                        <div class="card-header row text-black fw-bold">
                            <h5 class="col-8">
                                {{ customer.first_name }} {{ customer.last_name }}
                            </h5>
                            <br>
                            <!-- button select and delete -->
                            <div class="btn-group col-4">
                                <a type="button" class="btn btn-sm btn-primary text-white"
                                    href="{% url 'app_general:select_customer-page' customer_id=customer.id%}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                    </svg>
                                </a>
                                <a type="button" type="submit" class="btn btn-sm btn-danger text-white"
                                    href="{% url 'app_general:del_customer-page' customer_id=customer.id%}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Address : </b>{{ customer.country }}, {{ customer.city }},
                                {{customer.address }}</li>
                            <li class="list-group-item"><b>Tel : </b>{{ customer.phone }}</li>
                        </ul>
                    </div><br>
                    {% endfor %}
                </div>
            </div>
            </p>

            <!-- Show address of customer you choose -->
            {% for data in request.session.customer %}
            <p>
            <div class="card">
                <div class="card-header text-black fw-bold row">
                    <div class="col-8">
                        Name : {{ data.first_name }} {{ data.last_name }}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Country : </b>{{ data.country }}<br>
                        <b>City : </b>{{ data.city }}<br>
                        <b>Address : </b>{{ data.address }}<br>
                    </li>
                    <li class="list-group-item">
                        <b>Tel : </b>{{ data.phone }}
                    </li>
                    <!-- payment method form -->
                    <li class="list-group-item">
                        {{ form.as_p }}
                    </li>
                </ul>
            </div>
            </p>
            {% endfor %}
        </div>

        <!-- Show order from order-page -->
        <div class="table-responsive-sm">
            <table class="table table-dark">
                <h3>Order List</h3>
                <thead>
                    <tr class="text-nowrap" align="center">
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in request.session.product_list %}
                    <tr class="text-nowrap" align="center">
                        <td>{{ product.title }}</td>
                        <td>฿ {{ product.price | floatformat:'g' }}</td>
                        <td>{{ product.qty }}</td>
                        <td>฿ {{ product.total_price | floatformat:'g' }}</td>
                    </tr>
                    {% endfor %}
                <tbody class="fw-bold">
                    <tr class="text-nowrap" align="center">
                        <td colspan="2" align="right">Shipping Cost</td>
                        <td></td>
                        <td>฿ {{ request.session.shipping_cost | floatformat:'g' }}</td>
                    </tr>
                </tbody>
                <tbody class="fw-bold">
                    <tr class="text-nowrap" style="color:rgb(250, 200, 75)" align="center">
                        <td colspan="2" align="right">
                            <h5>Total</h5>
                        </td>
                        <td>
                            <h5>{{ request.session.total_qty }}</h5>
                        </td>
                        <td>
                            <h5>฿ {{ request.session.total_price | floatformat:'g' }}</h5>
                        </td>
                    </tr>
                </tbody>
                </tbody>
            </table>
            <div class="form-field text-end">
                <button class="btn btn-primary" type="submit">Place Order</button>
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}