{% extends 'app_general/base.html' %}
{% block title %}
<title>Thank You | Your Name Café</title>
{% endblock %}
{% block content %}
<div class="container text-white">
    <div class="p-2 m-4 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor"
            class="text-warning bi bi-emoji-smile-fill" viewBox="0 0 16 16">
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" />
        </svg>
    </div>
    <div class="text-left">
        <h1 class="text-center" style="color:#d6ce93">Thank You !</h1>
        <p>Hi {{ user.username }},</p>
        <p>I was so excited to see your name come across our order pile again!</p>
        <p>
            Seeing a returning customer is always a good feeling. We know you have a
            lot of options when it comes to buying books, so it means a lot to us
            that you’d choose to purchase Absent in the Spring from us.
        </p>
        <p>
            As always, we have a love-it-or-exchange-it policy, so if your new book
            doesn’t live up to the excitement of And Then They Were None, we’ll work
            with you to find something more your style.
        </p>
        <p>Thanks again,</p>
        <p>Project_NAT</p>
        <div align="center">
            <a href="{% url 'app_general:home-page' %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                    <path fill-rule="evenodd"
                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg>
                Back Home
            </a>
        </div>
    </div>
</div>
{% endblock %}